/*
	Theme Name: Suite
	Theme URI: http://newwpthemes.com/suite-free-wordpress-theme/
	Description: Suite is a free premium WordPress theme with featured content option and options page. Supports post thumbnails. Suitable for any niche, especially for news or magazine sites.
	Author: NewWpThemes.com
	Author URI: http://newwpthemes.com/
	Version: 3.1
	Tags: blue, three-columns, right-sidebar
*/

/* LAYOUT */

body {
	background: url(images/background.png);
	}

#wrapper {
    background: url(images/wrapper-bg.png) left top repeat-x;
	}

#container {
    background: url(images/container-bg.jpg) center top no-repeat;
	}

#contentwrap {
	background: #FFFFFF;

	}

a {
	color: #206D9F;
    text-decoration: underline;
	}

a:hover {
	color: #199FF5;
    text-decoration: none;
	}
/* HEADER */

#header {
	height:126px;
    padding: 17px 0;
    background: url(images/header-bg.png) left top repeat-x;
	}

#header h1 {
	margin-bottom: 2px !important;
	padding: 18px 0 0 0;
	font-weight: normal;
	font-family: Georgia, Times New Roman Times, Serif;
	font-weight: bold;
	font-size: 46px;
	}

#header h1 a, #header h1 a:visited {
	color: #F5F8F9;
	text-decoration: none;
	}


#header h2 {
	color: #BADCF4;
	font-size: 14px;
	line-height: 14px; 
	font-family: Times New Roman, Times, Serif;
    font-style: italic;
	}

.logoimg {
    margin: 16px 0 0 0;
    }
    
/* NAVIGATION MENUS */

#pagemenucontainer {
	height: 42px;
    margin-top: 0;
    padding-left: 0;
	}
	
#pagemenu {
	height: 42px;
    
	}

#pagemenu, #pagemenu ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	}
#pagemenu {
	margin-bottom: 1px;
	}

#pagemenu ul {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
	
#pagemenu li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#pagemenu ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#pagemenu li a, #pagemenu li a:link {
	color: #FFFFFF;
	display: block;
    margin: 0 0 0 4px;
	padding: 16px 12px 12px 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	}
	
#pagemenu li a:hover, #pagemenu li a:active {
	color: #1896E7;
	display: block;
    background: url(images/pagemenu-hover.png) center bottom no-repeat;
	}
	
#pagemenu  li.current_page_item a {
	color:#1896E7;
    background: url(images/pagemenu-hover.png) center bottom no-repeat;
	}

#pagemenu li:hover, #pagemenu li.sfhover { 
	position: static;
	}
	


#navcontainer {
	height: 36px;
	display: block;
	overflow: hidden;
    padding: 0;
    background: url(images/nav-bg.png) left top repeat-x;
	}

#navcontainer .current-cat a {
	background: url(images/nav-hover.png) left top repeat-x;
	color:#234155;
  	}

/* CONTENT */

#content {
 	padding: 15px 15px 15px 15px;
  	}
	
pre { overflow: auto; 
	width: 470px; 
	}



.post {
	border-bottom: 4px solid #F1F4F7;
	padding: 0 0 10px 0;
    margin-bottom: 15px;
	}

.post_thumbnail {
    padding: 6px;
    background: #FFFFFF;
    border: 1px solid #F3F4F3;
    margin: 0 10px 10px 0;
}


.post p {
	margin-bottom: 10px;
	}

.title {
	margin: 0 0 8px 0;
	padding: 0px;
	line-height: 24px;
	font-size: 24px;
	font-family: Arial, Helvetica, Sans-serif;
	color: #214055;
    font-weight: bold;
	}

	
.title a {
	text-decoration: none;
	color: #214055;
	}

.title a:hover {
	color: #1378B9;
	}

.pagetitle {
	margin-bottom: 20px;
	line-height: 22px;
	font-family: Arial, Verdana;
	text-decoration: underline;
}


.readmorecontent {
	text-align: right;
	}

a.readmore {
   background: #F1F4F7 url(images/readmore-bg.png) left top repeat-x;
	padding: 4px 15px;
 	color: #496378;
	text-decoration: none;
    font-size: 12px;
    border: 1px solid #F1F4F7;
	}

a.readmore:hover {
    background: #F1F4F7 url(images/readmore-bg.png) left top repeat-x;
    color: #196FA6;
    border: 1px solid #D9E3E9;
	}
    
   
.postdate {
	font-size: 13px;
	font-family: Arial, Helvetica, Sans-serif;
    font-style: italic;
    color: #A7ADB2;
	}


.postmeta {
	font-size: 11px;
	padding: 2px 4px;
	font-family: Arial, Verdana;
	}
	
.postdate img, .postmeta img {
	border: none;
	vertical-align: middle;
	margin:2px;
	}

.entry {
	text-align: justify;
	line-height: 18px;
	padding-top: 8px;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;
    color: #132735;
	}
.navigation {
	padding: 10px 0;
	}

blockquote {
	overflow: hidden;
	padding-left: 9px;
	font-style: italic;
	color: #666;
	border-left: 3px solid #CADAE7;
	}
	
.post img {
	max-width: 680px;
	}

img.wp-smiley {
	max-height: 12px;
	margin: 0;
	padding: 0;
	border: none;
	}
	
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
	}

.alignleft {
   float: left;
	}

.alignright {
   float: right;
	}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
	}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
	}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
	}

	
/* wp-pagenavi */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
    font-size: 15px !important;
    padding:  4px 8px !important;
    color: #1E3D53 !important;
    background:none !important;
    border: 1px solid #fff !important;
}
.wp-pagenavi a:hover {
    border: 0 !important;
    color: #0873C3 !important;
    background:#F1F4F7  url(images/wp-pagenavi-bg.png) left top repeat-x !important;
    border: 1px solid #B3D4EA !important;
}
.wp-pagenavi span.pages {
    font-size: 15px !important;
    padding:  4px 8px !important;
    color: #1E3D53 !important;
    background: none !important;
    border: 1px solid #fff !important;
}
.wp-pagenavi span.current {
    font-size: 15px !important;
    padding:  4px 8px !important;
    font-weight: bold;
    color: #1E3D53 !important;
    background:#F1F4F7  url(images/wp-pagenavi-bg.png) left top repeat-x !important;
    border: 1px solid #CDD0D4 !important;
}
.wp-pagenavi span.extend {
    font-size: 15px !important;
    padding:  4px 8px !important;
    background:transparent !important;
    color: #1E3D53 !important;
    background: none !important;
    border: 1px solid #fff !important;
}

/* SIDEBAR(S) */

.sidebaradbox {
	margin-top: 5px; 
	text-align:center;
	}
	
.sidebaradbox125 {
	margin-top: 10px; 
	text-align:center;
	}
	
.ad125 {
	margin: 5px 0;
	}


.sidebar {
	margin: 0 0 10px 0;
    color: #1F3E54;
	}
	
.left-sidebar {
  padding: 0 0px 0 0;
}

.right-sidebar {
  padding: 0 10px 0 0;

}

.sidebar a {
	text-decoration: none;
	color: #1F3E54;
	}

.sidebar a:hover {
	text-decoration: underline;
	color:#189BEF;
	}
	

	
	
#search {
    border: 1px solid #EEF4FA;
    height: 28px;
    padding: 0;
    background: url(images/search-bg.png) left top repeat-x;
    text-align: right;
}

#search input {
	border: 0;
    background: none;
    color: #0E2738;
}
	
	
#s {
	width: 220px;
	padding: 4px;
    margin:2px 0 0 0;
    background: none;
}

#topsearch #search {
    margin: 8px 0px 0 0;
}

#topsearch #s {
    width: 190px;
}

	
/* Social icons */
.addthis_toolbox {
    padding: 15px 0 5px 0;
	text-align: center;
	}
.addthis_toolbox .custom_images a
{
    width: 32px;
    height: 32px;
    margin: 0 1px 0 1px;
    padding: 0;
}

.addthis_toolbox .custom_images a:hover img
{
    opacity: 1;
}

.addthis_toolbox .custom_images a img
{
    opacity: 0.85;
}


.rssbox {
	background: #FFFFFF url(images/socialbox-bg.png) left top repeat-x;
	border: 1px solid #EBF2F7;
	padding: 10px;
	margin: 10px 0 0 0;
	}
    
.rssbox:hover {
    background: #ECEFF1 url(images/socialbox-hover.png) left top repeat-x;
    border: 1px solid #E6E6E6;
    }

.rssbox a {
	color: #20405A;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
    font-family: Arial, Helvetica, Sans-serif;
	}
.rssbox a:hover {
	color: #1375B4;
	text-decoration: underline;
    background: #ECEFF1 url(images/socialbox-hover.png) left top repeat-x;
	}

.twitterbox {
	background: #FFFFFF url(images/socialbox-bg.png) left top repeat-x;
	border: 1px solid #D0D9E0;
	padding: 10px;
	margin: 10px 0 0 0;
	}
    
.twitterbox:hover {
   background: #ECEFF1 url(images/socialbox-hover.png) left top repeat-x;
    border: 1px solid #D3DCE2;
    }
	
.twitterbox a {
	color: #20405A;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
    font-family: Arial, Helvetica, Sans-serif;
	}
.twitterbox a:hover {
	color: #1375B4;
	text-decoration: underline;
	}

.sidebar h2 {
	margin: 10px 0 0 0;
	padding: 6px 0 14px 6px;
	font-size: 16px;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	color: #1F3F54;
    background: url(images/sidebar-tab.png) left bottom no-repeat;
	}

.sidebar ul {
	list-style-type: none;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	}
	
.sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}

.sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
	
.sidebar ul li li {
	padding: 4px 0px 6px 10px;
	margin: 0px;
    background: url(images/arrow.png) left 11px no-repeat;
    border-bottom: 1px dashed #D4DBE3;
	}

.sidebar ul li ul li {
	padding: 4px 0px 6px 10px;
    background: url(images/arrow.png) left 11px no-repeat;
    border-bottom: 1px dashed #D4DBE3;
	margin:0;
	}



#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	color: #1F3E54;
    background: none;
	}
#wp-calendar caption {
	padding: 2px 4px;
	text-transform: uppercase;
    margin: 2px 0 2px 0;
    background: none;
	}

#wp-calendar td {
	color: #1F3E54;
	font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
	}

#wp-calendar td:hover, #wp-calendar #today {
	background: #189BEF;
	color: #fff;
	}
#wp-calendar td:hover a {
    color: #fff;
    }
#wp-calendar {
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	font-weight: bold; 
	width: 100%;
	}


/* FOOTER */

#footer {
	padding: 20px 0;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
    background: #1E3D53;
   	}

#footer a {
	color: #FFFFFF;
	} 

#footer a:hover {
	text-decoration: none;
	} 
	
#credits {
	color: #1E3D53;
	font-size: 11px;
	text-align: center;
	padding: 10px;
	}
    	
#credits a {
	color: #1E3D53;
    text-decoration: none;
	}
	
/* COMMENTS */

#comments h3 {
	margin-bottom: 10px;	
}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
	
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
	
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
	
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}

.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
	
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
	


/* =RESPONSIVE
-------------------------------------------------------------- */

.menu-primary-responsive-container, .menu-secondary-responsive-container  {
    display: none;
    margin: 10px 0;
}

.menu-primary-responsive, .menu-secondary-responsive  {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}


/* Tablets ----------- */

@media only screen and (max-width: 768px) {
    
    .span-1, .span-2, .span-3, .span-4, .span-5,.span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24,
     div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24
    {
        width:100%;
        margin:0;
        display: block;
        padding: 0;
        float: none;
    }
    
    .container, div.container {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contentwrap {}

    .sidebar {
        padding: 10px;
    }

    .entry {
        overflow:  hidden;
    }
    
    .smooth_gallery, .fullbox_excerpt, .fullbox_content, .myGallery {
        display: none;
    }
   
    #header, #header-wrap {
        height: auto;
    }
    
    #header .span-11, #header .span-11 div, #header .span-12, #header .span-12 div, #header .span-13, #header .span-13 div  {
       text-align: center !important;
       padding-bottom: 10px;
    }
   
     #topsearch, #topsocials, .feedtwitter  {
         text-align: center;
         display: block;
         float: none;
         width: auto;
         margin: 0;
         height: auto;
    }
    .logoimg {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    #search {
        text-align: left;
        padding-left: 5px;
    }
    
    #s {
        width: auto !important;
    }
    
    #search input[type='image'] {
        float: right !important;
    }

    #pagemenucontainer {
        float: none;
        display: block;
    }
}

/* Mobile Phones ----------- */

@media only screen and (max-width: 480px) {
    #header .span-11, #header .span-11 div, #header .span-12, #header .span-12 div, #header .span-13, #header .span-13 div  {
       text-align: center !important;
       padding-bottom: 0;
    }
 
    .menu-primary-responsive-container, .menu-secondary-responsive-container {
        display: block;
    }
    
    #pagemenucontainer, #navcontainer, #pagemenu, #nav {
        display: none;
    }
}

/* Some General Formattings ----------- */

embed,
img,
object,
video,
.wp-caption {
	max-width: 100% !important;
}

img {
	height: auto;
}

/* =SITEMAP
-------------------------------------------------------------- */
.sitemap {
}

.sitemap-col {
    width: 30%;
    padding: 0 0 0 10px;
}

.sitemap-col-archives {
    width: 45%;
    padding: 0 0 0 10px;
}

.sitemap h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.sitemap h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
}

.sitemap-list {
    font-size: 13px;
    line-height: 22px;
}

.sitemap-list, .sitemap-list ul {
    padding: 0 0 0 20px;
}

/* =CONTACT FORM
-------------------------------------------------------------- */
.contact-form {
}

.contact-form-label {
    width: 90px;    
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
}

.contact-form-input {
    margin-left: 90px;    
}

.contact-form input[type=text] {
    padding: 6px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form input[type=submit] {
    padding: 5px 50px;
    border: 1px solid #ccc;
    background: #eee;
}
.contact-form textarea {
    width: 96%;
    padding: 6px;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form-required {
    color: red;
}

/* WooCommerces ----------- */
.woocommerce #contentwrap {
    background: #fff;
}

.variations .label {
    background-color:inherit;
    color: inherit;
    display: block !important;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    text-shadow: none;
    vertical-align: inherit;
    white-space: inherit;
    padding: 8px 8px 8px 0 !important;
} 
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input.text, .woocommerce input.title, .woocommerce textarea, .woocommerce select {
    margin: 0;  
    padding: 4px !important;
}

.quantity input[type="text"], .quantity input.text, .quantity input{
    margin: 0;  
    padding: 0 !important;
}

.woocommerce img {
    width: auto !important;
    height: auto !important;
}